// app global css in SCSS form
.github-link {
  text-decoration: none;
}

// NavigationBar
.icon-label {
  font-size: 15px;
  position: relative;
  left: -28px;
  top: 6px;
}

// Dialogs
.card-medium {
  width: 700px;
  max-width: 80vw;
}

.card-small {
  width: 400px;
  max-width: 50vw;
}

// Events
.calendar-month-event {
  position: relative;
  font-size: 12px;
  width: 100%;
  margin: 1px 0 0 0;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.calendar-day-event {
  position: absolute;
  font-size: 12px;
  justify-content: center;
  margin: 0 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.calendar-badge-header-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2px;
}

.calendar-badge-header {
  margin: 1px;
  width: 10px;
  max-width: 10px;
  height: 10px;
  max-height: 10px;
  cursor: pointer;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
}
